/.idea
/BDFramework.Server/obj
/BDFramework.Server/bin
/BD.SQL/bin
/BD.OOM/bin
/BD.MQ/bin
/BD.GraphQL/bin
/BD.GraphQL/obj
/BD.CaChe/obj
/BD.CaChe/bin
/BD.MQ/bin
/BD.MQ/obj
/BD.OOM/obj
/BD.OOM/bin
/BD.SQL/bin
/BD.SQL/obj
