# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.idea
/BDFramework.Server/obj
/BDFramework.Server/bin
/BD.SQL/bin
/BD.OOM/bin
/BD.MQ/bin
/BD.GraphQL/bin
/BD.GraphQL/obj
/BD.CaChe/obj
/BD.CaChe/bin
/BD.MQ/bin
/BD.MQ/obj
/BD.OOM/obj
/BD.OOM/bin
/BD.SQL/bin
/BD.SQL/obj
